[phases.setup]
nixPkgs = ["nodejs_18", "npm-9_x", "openssl"]

[phases.install]
cmds = ["cd .. && npm install --workspaces"]

[phases.build]
cmds = ["cd frontend && npm run build"]

[start]
cmd = "npx serve -s dist -l $PORT"

