[phases.setup]
nixPkgs = ["nodejs_18", "npm-9_x", "openssl"]

[phases.install]
cmds = ["cd $RAILWAY_WORKSPACE_ROOT && npm install --workspaces"]

[phases.build]
cmds = ["cd $RAILWAY_WORKSPACE_ROOT/frontend && npm run build"]

[start]
cmd = "cd $RAILWAY_WORKSPACE_ROOT/frontend && npx serve -s dist -l $PORT"

