[phases.setup]
nixPkgs = ["nodejs_18", "npm-9_x", "openssl"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["cd backend && npm install && npm run build"]

[start]
cmd = "cd backend && node dist/index.js"

